main{
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    display: flex;
    background-color: #313843;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23313843' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23333a46' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23353d49' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23373f4c' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2339424f' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%233B4452' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
}

main{
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    display: flex;
    background-color: #313843;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23313843' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23333a46' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23353d49' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23373f4c' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2339424f' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%233B4452' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    position: relative;
    height: 60vh;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    width: 50%;
    padding: 20px;
    height: 50vh;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.35);
}

.form img{
    width: 35%;
    margin: auto;
}

h1{
    font-size: 2.5rem;
    margin: 10px 0 10px;
    background-image: var(--Cor-titulos);
    background-clip: text;
    color: transparent;
    font-family: var(--Fonte-titulos);
}

.inputBox{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.inputBox label{
    font-family: var(--Fonte-textos);
    color: black;
}

.inputBox input{
    width: 97.4%;
    padding: 8px 0px 8px 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 3px solid #cfd8dc;
    outline: none;
    transition: ease 0.3s;
}

input:focus{
    border: 3px solid #00bfff;
}

button{
    width: 100%;
    padding: 8px;
    background-image: var(--Cor-titulos);
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    transition: ease 0.3s;
}

button:hover{
    transform: scale(1.03, 1.03);
    box-shadow: 0px 0px 10px #00bfff5a;
}

button:focus{
    transform: scale(0.95, 0.95);
    box-shadow: none;
    opacity: 70%;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.links a{
    color: #00bfff;
    text-decoration: none;
    transition: ease 0.3s;
}

.links a:hover{

}